@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;

.leftFlower {
   position: absolute;
   left: 0;
   top: -25px;

   @include respond-up(lg) {
      top: -10px;
   }
}

.rightFlower {
   position: absolute;
   right: 0;
   top: 94%;

   @include respond-up(lg) {
      top: 88%;
   }
}

.leftFlower2 {
   position: absolute;
   left: 0;
   top: -120px;

   @include respond-up(lg) {
      top: -80px;
   }
}

.rightFlower2 {
   position: absolute;
   right: 0;
   top: 83%;

   @include respond-up(lg) {
      top: 88%;
   }
}

.leftFlower3 {
   position: absolute;
   left: 0;
   top: 83%;

   @include respond-up(lg) {
      top: -80px;
   }
}

.brand {
   color: $primary;
}

.title {
   font-family: $fontFamily;
   font-size: clamp(32px, 5vw, 48px);
   font-weight: $semiBold;
   color: $textColor;
   margin-bottom: 5px;
}

.subtitle {
   font-family: $fontFamily;
   font-size: clamp(18px, 5vw, 27px);
   font-weight: $semiBold;
   color: $primary;
}

.paragraph {
   font-family: $fontFamily;
   font-size: clamp(14px, 5vw, 21px);
   font-weight: $regular;
   color: $placeholder;
}

.whySupafoArea {
   background-color: $primary22;
   width: 270px;
   height: 270px;
   box-shadow: 0 5px 10px $primary;

   .whySupafoTitle {
      font-family: $fontFamily;
      font-size: 30px;
      font-weight: $medium;
      color: $textColor;
      font-style: italic;
      text-align: center;
   }
}

.carouselSection {
   position: relative;
   width: 100%;

   .embla {
      overflow: hidden;
      padding: 20px 18px;

      .emblaContainer {
         display: flex;
         gap: 24px;
         user-select: none;
         -webkit-user-select: none;
         -webkit-touch-callout: none;
         margin-left: 0;

         .emblaSlide {
            flex: 0 0 100%;
            min-width: 0;

            @media (min-width: 865px) {
               flex: 0 0 calc(50% - 12px);
            }

            @media (min-width: 1280px) {
               flex: 0 0 calc(33.333% - 16px);
            }

            @media (min-width: 1679px) {
               flex: 0 0 calc(25% - 18px);
            }

            .openPositionArea {
               border-radius: 30px;
               background-color: white;
               box-shadow: 0 5px 10px $primary;
               overflow: hidden;

               .header {
                  background-color: $primary22;
                  padding: 25px;
                  border-radius: 30px;

                  .icon {
                     color: $primary;
                  }

                  .title {
                     font-family: $fontFamily;
                     font-size: 30px;
                     font-weight: $medium;
                     color: $textColor;
                     margin-bottom: 20px;
                  }

                  .smallText {
                     font-family: $fontFamily;
                     font-size: 12px;
                     font-weight: $medium;
                     color: $primary;
                  }

                  .subTitle {
                     font-family: $fontFamily;
                     font-size: 14px;
                     font-weight: $semiBold;
                     color: $primary;
                     border-radius: 10px;
                     background-color: $primary;
                     color: white;
                  }
               }

               .footer {
                  padding: 25px;

                  .keyword {
                     border: 1px solid $primary;
                     font-family: $fontFamily;
                     font-size: 14px;
                     font-weight: $semiBold;
                     color: $primary;
                  }

                  .priceArea {
                     font-family: $fontFamily;
                     font-size: 14px;
                     font-weight: $semiBold;
                     color: $primary;
                     border: 1px solid $primary;
                     border-radius: 10px;
                  }
               }
            }
         }
      }
   }
}

.lastSection {
   h5 {
      font-family: $fontFamily;
      font-size: 32px;
      font-weight: $semiBold;
      color: $textColor;
      margin-bottom: 12px;
   }

   p {
      font-family: $fontFamily;
      font-size: 14px;
      font-weight: $regular;
      color: $primary;
   }
}

.buttonText {
   font-family: $fontFamily;
   font-size: 16px;
   font-weight: $semiBold;
   color: $textColor;
   transition: color 0.3s ease;
}

.button {
   background-color: transparent;
   border: 1px solid $primary;
   transition: all 0.3s ease;

   &:hover {
      background-color: $primary;
   }

   &:hover span {
      color: white;
   }
}

.buttonText2 {
   font-family: $fontFamily;
   font-size: 16px;
   font-weight: $semiBold;
   color: white;
}
