@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;

.footerContainer {
   background-color: $primary;
}

.footerHeader {
   padding-top: 50px;

   .footerHeaderLinks {
      display: flex;
      gap: 5px;

      @include respond-down(md) {
         flex-direction: column;
      }

      .footerButtons {
         padding: 4px 15px;
         border-radius: 15px;
         transition: background-color 0.75s ease, transform 0.75s ease, color 0.75s ease;

         &:hover {
            color: $primary;
            background-color: white;
         }
      }
   }
}

.footerMain {
   padding: 40px 4%;
   display: flex;
   justify-content: space-between;
}

.footerBottom {
   padding: 25px 0;
   border-top-width: 0.5px;
   border-top-color: $divider;
   font-size: 16px;
   color: white;
   text-align: center;
}
