@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;

.layout {
   width: 100%;
   height: calc(100% - 72px);
   min-height: calc(100% - 72px);
   max-height: calc(100% - 72px);
   overflow: hidden;
   position: relative;
   margin-top: 72px;

   @include respond-up(sm) {
      height: calc(100% - 81px);
      min-height: calc(100% - 81px);
      max-height: calc(100% - 81px);
      margin-top: 81px;
   }

   @include respond-up(lg) {
      height: calc(100% - 86px);
      min-height: calc(100% - 86px);
      max-height: calc(100% - 86px);
      margin-top: 86px;
   }
}
