@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;

.layout {
   width: 100%;
   height: calc(100% - 110px);
   min-height: calc(100% - 110px);
   max-height: calc(100% - 110px);
   overflow: hidden;
   position: relative;
   margin-top: 110px;

   @include respond-down(md) {
      height: calc(100% - 80px);
      min-height: calc(100% - 80px);
      max-height: calc(100% - 80px);
      margin-top: 80px;
   }
}
