@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;

.notFoundBody {
   background-color: white;
}

.leftFlower {
   position: absolute;
   left: 0;
   top: 0px;

   @include respond-up(lg) {
      top: -5px;
   }
}

.rightFlower {
   position: absolute;
   right: 0;
   top: 86%;

   @include respond-up(lg) {
      top: 86%;
   }
}

.title {
   font-family: $fontFamily;
   font-size: clamp(32px, 5vw, 48px);
   font-weight: $semiBold;
   color: $textColor;
   margin-bottom: 5px;
}

.smallText {
   font-family: $fontFamily;
   font-size: 16px;
   font-weight: $regular;
   color: $placeholder;
}

.notFoundButton {
   padding: 0 60px;
   border-radius: 15px;
}

.buttonText {
   font-size: 18px !important;
}
