@use "../../styles/variables" as *;

.privateButton {
   background-color: $primary;

   &:hover {
      background-color: $secondary;
   }
}

.textButton {
   font-family: $fontFamily;
   font-weight: $medium;
   font-size: 24px;
   text-align: center;
   color: white;
   padding: 18px 22px;
}
