@use "../../styles/variables" as *;

.navbarWrapper {
   background-color: $background2;

   .navbarArea {
      gap: 5px;

      .textButton {
         padding: 4px 15px;
         border-radius: 15px;
         transition: background-color 0.75s ease, transform 0.75s ease, color 0.75s ease;

         &:hover {
            background-color: white;
         }
      }
   }
}
