@use "../styles/variables" as *;

* {
   box-sizing: border-box;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body {
   background: $background;
   font-family: $fontFamily;
   min-height: 100%;
}
