$background: #FFFFFF;
$background2: #E7EFDF;

$primary: #82B74C;

$primary24: rgba(#82B74C, 0.24);
$primary22: rgba(#82B74C, 0.22);

$secondary: #578B23;
$textColor: #182F00;
$fontFamily: var(--font-poppins), sans-serif;
$divider: #EBEBEB;
$placeholder: #737373;

$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
